footer {
	@include media-breakpoint-up(lg) {
		font-size: 1.6rem;
	}
	.container {
		padding-top: 30px;
		padding-bottom: 100px;
		@include media-breakpoint-up(lg) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
	.logo {
		margin-bottom: 12px;
		display: block;

		@include media-breakpoint-up(lg) {
			margin-bottom: 45px;
		}
	}
}
