form {
	input[type='text'],
	input[type='email'],
	input[type='tel'],
	textarea,
	select {
		width: 100%;
		height: 64px;
		padding: 20px 15px 20px 50px;
		margin-bottom: 11px;
		border-radius: 0;
		font-size: 1.8rem;
		line-height: 1.2;
		background: $white;
		border: 0.5px solid rgba(0, 0, 0, 0.15);
		box-shadow: 30px 26px 40px -20px rgba(52, 52, 52, 0.08);
		border-radius: 10px;

		@include media-breakpoint-up(md) {
			padding: 20px 15px 20px 51px;
			height: 76px;
		}

		&:-internal-autofill-selected {
			background-color: $white !important;
			background-image: none !important;
			color: -internal-light-dark-color(black, white) !important;
		}
		&::placeholder {
			color: $black;
			opacity: 1;
		}
	}
	input[type='radio'],
	input[type='checkbox'] {
		min-width: 20px;
		min-height: 20px;
		margin: 10px;
	}

	textarea {
		height: 128px !important;
		resize: none;
	}

	select {
		appearance: none;
	}

	.form-group {
		position: relative;
		width: 100%;
		margin-bottom: 0;
		line-height: 1;

		.icon {
			position: absolute;
			top: 25px;

			left: 15px;
			width: 16px;
			height: 16px;
			z-index: 9;

			svg,
			img {
				width: 100%;
				height: auto;
			}

			@include media-breakpoint-up(md) {
				left: 22px;
			}
		}
	}

	label.error,
	.field-error {
		display: block;
		margin-bottom: 20px;
		margin-top: -10px;
		color: red;
		font-size: 1.5rem;
	}

	.form-messages {
		text-align: center;

		&.success {
			color: green;
		}

		&.error {
			color: red;
		}
	}
}
