#wrapper {
	overflow: hidden;
	padding-top: 67px;

	@include media-breakpoint-up(md) {
		padding-top: 96px;
	}
	@include media-breakpoint-up(xl) {
		padding-top: 106px;
	}
}

.hero-left-aligned {
	width: 100%;
	padding: 30px 0 0;
	position: relative;
	color: #fff;
	text-align: center;

	@include media-breakpoint-up(md) {
		text-align: left;
		padding: 60px 0;
	}
	@include media-breakpoint-up(xl) {
		padding: 90px 0 70px;
	}

	.container {
		@include media-breakpoint-down(md) {
			padding-left: 12px;
			padding-right: 12px;
		}
	}

	.text-box {
		position: relative;
		z-index: 1;
	}

	.img-holder {
		max-width: 300px;
		position: relative;
		margin: -152px 0 0 72px;

		@include media-breakpoint-up(md) {
			max-width: 525px;
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
		}
		@include media-breakpoint-up(xl) {
			max-width: 657px;
		}

		img {
			@include media-breakpoint-down(md) {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}

	h1 {
		color: $white;
		font-size: 3.8rem;

		@include media-breakpoint-up(md) {
			font-size: 3rem;
		}
		@include media-breakpoint-up(xl) {
			font-size: 4.5rem;
		}
	}
	h4 {
		color: $primary;
		font-size: 2rem;

		@include media-breakpoint-up(md) {
			font-size: 1.8rem;
		}
		@include media-breakpoint-up(xl) {
			font-size: 2.4rem;
		}
	}

	p {
		margin: 0 0 30px;
	}

	.btn-section {
		margin: 0;
	}
}

.featured-in {
	position: relative;
	padding: 30px 0;
	background: #ffffff;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03);

	.swiper-wrapper {
		align-items: center;
	}
}

.text-section {
	position: relative;
	padding: 40px 0;

	@include media-breakpoint-up(md) {
		padding: 65px 0;
	}

	.text-holder {
		max-width: 569px;
		margin: 0 auto;
	}

	.img-holder {
		max-width: 600px;
		margin: 0 auto 20px;

		@include media-breakpoint-up(md) {
			margin: 0 auto 40px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

.four-cols {
	position: relative;
	padding: 40px 0 90px;
	overflow: visible;

	@include media-breakpoint-up(md) {
		padding: 92px 0 0;
	}

	.header {
		margin: 0 0 30px;

		@include media-breakpoint-up(md) {
			margin: 0 0 50px;
		}
		@include media-breakpoint-up(lg) {
			margin: 0 0 92px;
		}
	}

	.cols-wrap {
		margin-bottom: 15px;

		@include media-breakpoint-up(md) {
			margin-bottom: 38px;
		}

		.box {
			margin-bottom: 30px;
		}

		.text {
			display: block;
			letter-spacing: -0.02em;
		}
	}

	.icon-holder {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 77px;
		height: 77px;
		padding: 16px;
		margin: 0 auto 22px;
		border-radius: 50px;
		background: $white;

		@include media-breakpoint-up(md) {
			width: 84px;
			height: 84px;
			padding: 5px;
		}
	}
}

.how-it-works {
	position: relative;

	ol.styled-list {
		li {
			background: #ffffff;
			border: 1px solid #f1f1f1;
			box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.05);

			&::before {
				color: $white;
				@include media-breakpoint-down(md) {
					width: 56px;
					height: 56px;
					font-size: 33px;
					line-height: 36px;
				}
			}

			strong {
				display: block;
				@include media-breakpoint-down(md) {
					padding-left: 70px;
					margin-bottom: 5px;
					font-size: 18px;
				}
			}
		}
	}
}

.slider-wrap {
	position: relative;
	z-index: 5;

	@include media-breakpoint-up(md) {
		padding: 0 60px;
	}
	@include media-breakpoint-up(xxl) {
		padding: 0;
	}
}
.award-swiper {
	position: relative;
	overflow: hidden;
	margin: 0;
	border-radius: 10px;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03);
	background: $white;

	@include media-breakpoint-up(md) {
		margin: 0 0 -140px;
	}
	@include media-breakpoint-up(xl) {
		margin: 0 0 -160px;
	}

	.swiper-wrapper {
		align-items: center;

		.swiper-slide {
			padding: 15px 10px;

			@include media-breakpoint-up(xxl) {
				padding: 25px 10px;
			}
		}

		img {
			display: block;
			width: auto;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
}

.swiper-logos {
	.swiper-wrapper {
		align-items: center;

		img {
			display: block;
			width: auto;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
}

.feature-section {
	position: relative;
	padding: 45px 0;
	z-index: 2;

	@include media-breakpoint-up(md) {
		padding: 225px 0 115px;
	}

	h2 {
		margin-bottom: 25px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 80px;
		}
	}
	b {
		font-weight: 600;
	}
	p {
		text-align: left;
	}
	.feature-bg {
		background: $white;
		box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.05);
		border: 1px solid #f1f1f1;
		padding: 30px 27px;
		width: 100%;

		@include media-breakpoint-up(md) {
			padding: 46px 33px;
		}
	}
	.icon-holder {
		min-height: auto;
		margin-bottom: 25px;

		@include media-breakpoint-up(md) {
			min-height: 83px;
			margin-bottom: 28px;
		}
	}
	.features-row {
		margin-bottom: 13px;
		@include media-breakpoint-up(md) {
			margin-bottom: 50px;
		}
		> [class^='col-'] {
			margin-bottom: 20px;

			@include media-breakpoint-up(md) {
				margin-bottom: 40px;
			}
		}
	}
}

.guarantee-section {
	padding-top: 45px;
	padding-bottom: 45px;

	@include media-breakpoint-up(lg) {
		padding-top: 50px;
		padding-bottom: 81px;
	}

	h2 {
		margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 40px;
		}
	}
	.tnc {
		font-size: 12px;
		@include media-breakpoint-up(lg) {
			font-size: 14px;
			margin-bottom: 50px;
		}
	}
	p {
		@include media-breakpoint-up(lg) {
			margin-bottom: 35px;
		}
	}
	svg {
		max-width: 100%;
	}
}

.testimonials {
	padding-top: 40px;
	padding-bottom: 40px;

	@include media-breakpoint-up(lg) {
		padding-top: 56px;
		padding-bottom: 60px;
	}

	h2 {
		padding-bottom: 0;
		margin-bottom: 40px;

		@include media-breakpoint-up(md) {
			padding-bottom: 22px;
		}
	}
	h4 {
		color: $primary;
	}

	hr {
		max-width: 100%;
		margin: 10px 0;

		@include media-breakpoint-up(md) {
			max-width: 326px;
		}
	}
	p {
		margin-bottom: 15px;
	}

	.rating-stars {
		margin-bottom: 15px;

		@include media-breakpoint-down(md) {
			width: 160px;
		}
	}

	.big-stars {
		max-width: 245px;
		margin-bottom: 10px;

		@include media-breakpoint-up(lg) {
			max-width: 332px;
		}
	}
	.author {
		padding-top: 15px;
	}

	.designation {
		display: block;
		font-size: 12px;
		line-height: 15px;
		font-weight: 400;
		color: #383838;
	}
	.author-name {
		margin-bottom: 10px;
	}

	.title,
	.author-name {
		font-size: 3rem;
		line-height: 4.4rem;
		display: block;
		font-weight: bold;
		font-family: $headings-font;
		color: $black;
	}
	.title {
		@include media-breakpoint-down(md) {
			text-align: left;
		}
	}
	.swiper-holder {
		margin-bottom: 30px;

		@include media-breakpoint-up(md) {
			margin-bottom: 64px;
		}
		&:after {
			content: '';
			position: absolute;
			top: -24px;
			right: 18px;
			background: url('../images/icon-quote.svg') no-repeat;
			background-size: 100% 100%;
			z-index: 1;
			width: 74px;
			height: 48px;
			box-shadow: 0px 23.528px 24.3393px rgba(182, 10, 17, 0.04);

			@include media-breakpoint-up(md) {
				width: 104px;
				height: 67px;
				top: -25px;
				right: 105px;
			}
		}
	}
}

.claim-pro-bono {
	position: relative;

	@include media-breakpoint-down(md) {
		padding: 36px 0;
	}

	h4 {
		font-size: 2rem;
	}

	.img-holder {
		margin-bottom: -20px;

		@include media-breakpoint-up(lg) {
			margin-bottom: -100px;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}
