// --------------------
// VARIABLES
//---------------------

// Colors
$white: white;
$black: black;
$black-2: #1e1d1d;
$primary: #27baa4;
$secondary: #3dcab1;
$light: white;
$dark: black;
$gray: #eeeeef;
$dark-gray: #2f2f2f;
$dark-blue: #061536;

$body-color: $black;
$heading-color: #061536;
$sky-blue: #e1eefc;

// Header
$headerheight: 150px; // Change to approximate header height - adds padding to first section
$header-starting-width: 210px;
$header-scrolled-width: 160px;
$headerbg: $white; // Header scrolled background color.

// Tables
$bg-table-active-color: #42c7b3;

// Slider
$slider-title-color: #ffffff;
$slick-dot-color: #ffffff;
$slick-active-dot-color: #42c7b3;

// Grid settings
$grid-gutter-width: 3rem;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1180px,
);

$container-padding-x: 20px;

$gradient: linear-gradient(180deg, #e1eefc 0%, rgba(225, 238, 252, 0) 100%);
// scss-docs-end container-max-widths
